import { CommonComponentProps } from "@tails-ui/typings";

export interface {{name}}Props extends CommonComponentProps {};

export function {{name}}({ children }: {{name}}Props) { 
  return (
    <div>
      {children}
    </div>
  ); 
}